In [1]:
import pandas as pd

bb = pd.read_csv (r'C:\Users\misherman\DS-520\Baseball Datasets\mlbbatting1901-2021.csv')

In [2]:
print (bb.head())
bb = bb.rename(columns={'Pos Summary': 'position'})
print (bb.columns)

          ID        Player        Date   Tm  Opp    Rslt  PA  AB  R  H  ...  \
0  crossmo01   Monte Cross  1901-04-18  PHI  BRO  L 7-12   5   4  2  2  ...
1  dahlebi01   Bill Dahlen  1901-04-18  BRO  PHI  W 12-7   5   4  2  3  ...
2   dalyto01      Tom Daly  1901-04-18  BRO  PHI  W 12-7   5   5  1  2  ...
3  davisle01   Lefty Davis  1901-04-18  BRO  PHI  W 12-7   5   5  1  1  ...
4  delahed01  Ed Delahanty  1901-04-18  PHI  BRO  L 7-12   5   4  1  2  ...

   GDP  SB  CS  WPA  RE24  aLI  BOP  Pos Summary  DFS(DK)  DFS(FD)
0  NaN   0 NaN  NaN   NaN  NaN    8           SS      NaN      NaN
1  NaN   2 NaN  NaN   NaN  NaN    7           SS      NaN      NaN
2  NaN   0 NaN  NaN   NaN  NaN    6           2B      NaN      NaN
3  NaN   0 NaN  NaN   NaN  NaN    1           LF      NaN      NaN
4  NaN   0 NaN  NaN   NaN  NaN    3           1B      NaN      NaN

[5 rows x 31 columns]
Index(['ID', 'Player', 'Date', 'Tm', 'Opp', 'Rslt', 'PA', 'AB', 'R', 'H', '2B',
       '3B', 'HR', 'RBI', 'BB', 'IBB', 'SO', 'HBP', 'SH', 'SF', 'ROE', 'GDP',
       'SB', 'CS', 'WPA', 'RE24', 'aLI', 'BOP', 'position', 'DFS(DK)',
       'DFS(FD)'],
      dtype='object')

In [3]:
print (bb.shape)

(4285629, 31)

In [4]:
bb['1B'] = bb['H'] - (bb['2B'] + bb['3B'] + bb['HR'])

In [5]:
bb.columns

Index(['ID', 'Player', 'Date', 'Tm', 'Opp', 'Rslt', 'PA', 'AB', 'R', 'H', '2B',
       '3B', 'HR', 'RBI', 'BB', 'IBB', 'SO', 'HBP', 'SH', 'SF', 'ROE', 'GDP',
       'SB', 'CS', 'WPA', 'RE24', 'aLI', 'BOP', 'position', 'DFS(DK)',
       'DFS(FD)', '1B'],
      dtype='object')

In [6]:
def slug(df, player):
    career = df[df.position == player]
# execption handling for missing player
    singles = career['H'] - (career['2B'] + career['3B'] + career['HR'])
    single = sum(singles)
    double = sum(career['2B'])
    triple = sum(career['3B'])
    HR = sum(career['HR'])
    AB = sum(career['AB'])
    slug = (single + 2*double + 3*triple + 4*HR)/AB
    return slug, AB

# include code for divide by 0

In [8]:
positions = bb[(bb['position'] == '2B') | (bb['position'] == '1B')  | (bb['position'] == '3B')  | (bb['position'] == 'SS')  | (bb['position'] == 'LF')  | (bb['position'] == 'CF')  | (bb['position'] == 'RF')  | (bb['position'] == 'C')].groupby('position').agg(
    H = pd.NamedAgg(column='H', aggfunc = sum),
    AB = pd.NamedAgg(column='AB', aggfunc = sum),
    singles = pd.NamedAgg(column='1B', aggfunc = sum),
    doubles = pd.NamedAgg(column='2B', aggfunc = sum),
    triples = pd.NamedAgg(column='3B', aggfunc = sum),
    HR = pd.NamedAgg(column='HR', aggfunc = sum))

In [9]:
print(positions)

               H       AB  singles  doubles  triples     HR
position
1B        413151  1500134   278195    75462    11585  47909
2B        398873  1504067   295757    68185    13205  21726
3B        393415  1482968   276803    70283    11333  34996
C         355838  1414005   255206    62737     7615  30280
CF        413498  1512672   294001    70345    16912  32240
LF        410787  1492992   282581    72429    14855  40922
RF        410047  1489167   279405    72998    14899  42745
SS        382904  1481104   285869    64067    12962  20006

In [10]:
positions['BA'] = positions.H/positions.AB
positions['slug'] = (positions.singles + 2*positions.doubles + 3*positions.triples + 4*positions.HR)/positions.AB
positions['ISO'] = positions.slug - positions.BA
positions['single_pct'] = positions.singles/positions.AB
positions['double_pct'] = positions.doubles/positions.AB
positions['triple_pct'] = positions.triples/positions.AB
positions['HR_pct'] = positions.HR/positions.AB
print(positions)

               H       AB  singles  doubles  triples     HR        BA  \
position
1B        413151  1500134   278195    75462    11585  47909  0.275409
2B        398873  1504067   295757    68185    13205  21726  0.265196
3B        393415  1482968   276803    70283    11333  34996  0.265289
C         355838  1414005   255206    62737     7615  30280  0.251653
CF        413498  1512672   294001    70345    16912  32240  0.273356
LF        410787  1492992   282581    72429    14855  40922  0.275143
RF        410047  1489167   279405    72998    14899  42745  0.275353
SS        382904  1481104   285869    64067    12962  20006  0.258526

              slug       ISO  single_pct  double_pct  triple_pct    HR_pct
position
1B        0.436968  0.161558    0.185447    0.050304    0.007723  0.031936
2B        0.371424  0.106227    0.196638    0.045334    0.008780  0.014445
3B        0.398762  0.133474    0.186655    0.047393    0.007642  0.023599
C         0.371035  0.119382    0.180485    0.044368    0.005385  0.021414
CF        0.406160  0.132804    0.194359    0.046504    0.011180  0.021313
LF        0.425784  0.150640    0.189272    0.048513    0.009950  0.027409
RF        0.430494  0.155141    0.187625    0.049019    0.010005  0.028704
SS        0.359808  0.101282    0.193011    0.043256    0.008752  0.013507